# Import Library Pandas

In [1]:
import pandas as pd

# Menginput File CSV

In [2]:
data = pd.read_csv('Wine_Quality_Dataset.csv')

# 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [5]:
data.describe().loc[['mean', 'std', 'max', '25%', '50%', '75%']]

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
mean,2659.500000,7.215179,0.344130,0.318494,5.048477,0.056690,30.036654,114.109023,0.994535,3.224664,0.533357,10.549241,5.795677,0.255451
std,1535.896047,1.319671,0.168248,0.147157,4.500180,0.036863,17.805045,56.774223,0.002966,0.160379,0.149743,1.185933,0.879772,0.436155
max,5319.000000,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000
25%,1329.750000,6.400000,0.230000,0.240000,1.800000,0.038000,16.000000,74.000000,0.992200,3.110000,0.430000,9.500000,5.000000,0.000000
50%,2659.500000,7.000000,0.300000,0.310000,2.700000,0.047000,28.000000,116.000000,0.994650,3.210000,0.510000,10.400000,6.000000,0.000000
75%,3989.250000,7.700000,0.410000,0.400000,7.500000,0.066000,41.000000,153.250000,0.996770,3.330000,0.600000,11.400000,6.000000,1.000000

# 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka

In [8]:
data.select_dtypes(include=['number']).head(10)

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,1
5,5,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,1
6,6,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,1
7,7,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,1
8,8,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,1
9,9,6.7,0.58,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5,1

# 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin

In [12]:
# Informasi jumlah record
num_records = len(data)

# Informasi jumlah attribute
num_attributes = len(data.columns)

# Informasi nama attribute
attribute_names = data.columns.tolist()

# Informasi jumlah attribute dengan tipe angka
numeric_attributes = data.select_dtypes(include=['number']).columns.tolist()
num_numeric_attributes = len(numeric_attributes)

# Membuat dictionary dengan informasi yang ada diatas
dataset_info = {
    'Jumlah Record': num_records,
    'Jumlah Attribute': num_attributes,
    'Nama Attribute': attribute_names,
    'Jumlah Attribute dengan Tipe Angka': num_numeric_attributes,
}

print("===========================")
print("=== Dataset Information ===")
print("===========================")

# Menampilkan isi dictionary
for key, value in dataset_info.items():
    print(f"{key}: {value}")

===========================
=== Dataset Information ===
===========================
Jumlah Record: 5320
Jumlah Attribute: 14
Nama Attribute: ['Unnamed: 0', 'fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality', 'is_red']
Jumlah Attribute dengan Tipe Angka: 14

# 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir yaitu 057 hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice

In [10]:
data.iloc[57:, 3:]

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
57,0.49,1.80,0.115,20.0,112.0,0.99680,3.21,0.71,9.3,5,1
58,0.16,1.90,0.085,12.0,35.0,0.99680,3.38,0.62,9.5,7,1
59,0.05,2.00,0.081,13.0,54.0,0.99660,3.39,0.57,9.8,5,1
60,0.05,4.65,0.086,4.0,11.0,0.99620,3.41,0.39,10.9,5,1
61,0.11,1.50,0.079,11.0,39.0,0.99680,3.42,0.58,9.6,5,1
...,...,...,...,...,...,...,...,...,...,...,...
5315,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
5316,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
5317,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
5318,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
5319,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

# 5. Tampilkan jumlah label dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama)

In [6]:
# Mengidentifikasi atribut yang memiliki tipe 'object' atau string
object_attributes = data.select_dtypes(include=['object'])

# Menghitung jumlah label unik untuk setiap atribut 'object'
label_counts = {}
for column in object_attributes.columns:
    label_counts[column] = len(data[column].unique())

# Tampilkan hasilnya
for attribute, count in label_counts.items():
    print(f"Atribut: {attribute}, Jumlah Label Unik: {count}")

# Dataset saya tidak mempunyai attribute yang bernilai object sehingga program nomor 5 tidak mengeluarkan output